<article class="article-news">
  <h1>{{this.title}}</h1>
  <h2>{{this.published_date}}</h2>

  {{#if this.paragraphs}}
    <ul>
    {{#each this.paragraphs}}
        <li class="paragraph"><p>{{this}}</p></li>
    {{/each}}
    </ul>
  {{else}}
    <p>Loading article story</p>
  {{/if}}

  <a class="url"><span>source:</span> {{this.url}}</a>
</article>


